<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusConnectAIACTR"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".Activitys.ECEStudentActivity"
            android:exported="false" />
        <activity android:name=".Activitys.CampusDirectorIntroActivity"
            android:exported="false"/>
        <activity
            android:name=".Activitys.SelectBatchYearActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.CSEStudentActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.StudentCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.MTechStudentActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.BTechStudentActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AnnualFeeActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.UpcomingEventsActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.ScholarshipActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AcademicCalanderActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.TNPActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.EEEFacultyActivity"
            android:exported="false" />
      <activity android:name=".Activitys.SAHFacultyActivity"
          android:exported="false"/>
        <activity
            android:name=".Activitys.CSEFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.ECEFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.DirectorIntroActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen.splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="false" />
    </application>

</manifest>